body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #16151A;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.ds-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 0 50%;
  color: rgb(144, 121, 139);
}

.connect-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.steps-container {
  padding: 0rem 1rem 0rem 1rem;
}

.step {
  margin-top: 2rem;
}

.config-profile-para {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.error {
  color: #C30F1A;
  font-size: 14px;
}

.env-btn {
  margin-top: 1rem;
  cursor: pointer;
}

.mandatory {
  color: #C30F1A;
  font-size: 14px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.8rem;
}

.heading-text {
  color: rgb(236, 229, 241);
}

.description-text {
  color: #f3eff3;
}

.btn {
  border: none;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5rem;
  min-width: 7rem;
  height: 2.3rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.active-btn {
  background: rgb(240, 53, 212);
  color: white;
}

.disabled-btn {
  cursor: not-allowed;
}

.input-heading {
  min-width: 5%;
}

.input-heading-hidden {
  min-width: 5%;
  visibility: hidden;
}

.base-input-container {
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
}

.input-description {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;
  font-size: 14px;
}

.input-field {
  color: white;
  outline: none;
  padding: 0.3rem;
  background: none;
  border: 1px solid #7c7990;
  border-radius: 6px;
  min-width: 35%;
  margin-right: 0.4rem;
}

.link {
  color: #ec7adb;
}

.info {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.success {
  font-size: 14px;
  padding-top: 0.5rem;
  color: #0F980D;
}

.profile {
  overflow-wrap: break-word;
}

.profile-msg-container {
  margin-top: 1rem;
}

/* changes rainbowkit button background color */
[data-rk] {
  --rk-colors-connectButtonBackground: rgb(240, 53, 212) !important;
}